[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "~=3.2"

[packages]
django = "==3.1.4"
psycopg2-binary = "==2.8.6"
django-crispy-forms = "==1.10.0"
django-allauth = "==0.44.0"
environs = {version = "==9.3.0", extras = ["django"]}
pillow = "==8.1.0"

[requires]
python_version = "3.8"
